<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/icone.svg" width="30" height="30" alt="" loading="lazy">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            {{#if user}}
                <li class="nav-item active">
                    <a class="nav-link" href="/usuarios/logout">Logout</a>
                </li>
            {{else}}
                <li class="nav-item active">
                    <a class="nav-link" href="/usuarios/login">Login</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/usuarios/registro">Cadastre-se</a>
                </li>
            {{/if}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Area do Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin/categorias">Categorias</a>
                <a class="dropdown-item" href="/admin/categorias/add">Categorias ADD</a>
                <a class="dropdown-item" href="/admin/postagens">Postagens</a>
                <a class="dropdown-item" href="/admin/postagens/add">Postagens ADD</a>
            </li>
        </ul>
    </div>
</nav>
