{{#each erros}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{texto}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{{else}}

{{/each}}
<hr>
<hr>
<h1>ERRO 404</h1>